.tb {
    margin-left: 50px;
    padding: 10px 25px 10px 25px;
    box-shadow: 1px 1px 10px 1px gray;
    border-radius: 10px;
}
.tb > tr {
    text-align: center;
}
h2 {
    margin-top: -10px;
    text-align: center;
    margin-left: 50px ;
}
.h2 {
    margin-top: 60px;
}
.doctorTb {
    margin-left: 165px;
}