.content {
  padding-right: 50px;
  display: flex;
  width: 100%;
}
.left-content {
  width: 15%;
}
.right-content {
  margin-left: 30px;
  margin-top: 30px;
  width: 85%;
}
.logout {
  padding-left: 17px;
  font-size: 17px;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: 40px;
  font-weight: 600;
}
